{% extends "base.html" %}
{% block content %}

<div class="card-light">
  <h1>Network Tools Dashboard</h1>
  <p>Plataforma de monitoramento e ferramentas de rede.</p>
</div>

<div class="grid">

  <div class="card-light">
    <h3>DNS Lookup</h3>
    <p>Descubra o IP de qualquer site.</p>
  </div>

  <div class="card-light">
    <h3>Meu IP</h3>
    <p>Veja informações do servidor.</p>
  </div>

  <div class="card-light">
    <h3>Firewall</h3>
    <p>Status do Windows Firewall.</p>
  </div>

</div>

{% endblock %}